@import url(./reset.css);
header { position: fixed; left: 0; top: 0; width: 100%; height: 60px; background-color: white; border-bottom: 3px solid black; z-index: 1000; }
header > .menubar { position: relative; width: 1000px; margin: 0 auto; }
header > .menubar > .logo { display: block; position: absolute; left: 10px; top: 18px; width: 70px; height: 30px; text-indent: -9999px; background-image: url(./../images/logo160629.png); background-repeat: no-repeat; background-size: contain; }
header > .menubar > nav { position: absolute; left: 100px; top: 20px; }
header > .menubar > nav > .gnb { display: flex; flex-flow: row nowrap; }
header > .menubar > nav > .gnb > li { padding: 0 15px; height: 20px; line-height: 20px; text-align: center; border-right: 1px solid #ccc; }
header > .menubar > nav > .gnb > li:last-child { border-right: 0; }
header > .menubar > nav > .gnb > li:active, header > .menubar > nav > .gnb > li:hover, header > .menubar > nav > .gnb > li.on { font-weight: 800; }
header > .menubar > .language { float: right; margin: 15px 10px 0 0; border: 1px solid #ccc; }
header > .menubar > .language > li { position: relative; }
header > .menubar > .language > li:hover > ul { display: block; }
header > .menubar > .language > li > a { display: block; width: 150px; margin-left: 5px; padding: 2px 0; }
header > .menubar > .language > li > ul { display: none; position: absolute; left: -1px; background-color: #fff; border: 1px solid #ccc; }
header > .menubar > .language > li > ul:last-child { left: -157px; top: 19px; border-right: 0; }
header > .menubar > .language > li > ul > li:hover > a, header > .menubar > .language > li > ul > li.on > a { color: #58c758; }
header > .menubar > .language > li > ul > li > a { display: block; width: 150px; height: 30px; margin-left: 5px; line-height: 30px; }

section { margin: 63px 0 40px 0; }
section > article { width: 900px; margin: 0 auto; }
section > article > .cont { display: flex; justify-content: start; padding: 50px 0; border-bottom: 1px solid #ccc; }
section > article > .cont > li { position: relative; }
section > article > .cont > li > .frame { width: 190px; height: 190px; }
section > article > .cont > li > .frame > img { width: 100%; }
section > article > .cont > .exp { margin-left: 50px; }
section > article > .cont > .exp > h2 { margin-bottom: 20px; color: #3b3b3b; font-size: 40px; }
section > article > .cont > .exp > p { font-size: 14px; }
section > article > .cont > .exp > a { display: inline-block; margin: 20px 10px 0 0; }
section > article > .cont > .exp > a > .os { display: flex; }
section > article > .cont > .exp > a > .os > .os-dnld { width: 80px; height: 27px; text-indent: 5px; line-height: 27px; color: #fff; background-color: #706d6d; }
section > article > .cont > .exp > a > .os > .frame { width: 25px; height: 25px; border: 1px solid #3b3b3b; }
section > article > .cont > .exp > a > .os > .frame > img { width: 100%; }
section > article > .cont2 { display: flex; justify-content: start; padding: 70px 0; margin-top: 90px; border-top: 1px solid #ccc; }
section > article > .cont2 > li { margin-right: 50px; }
section > article > .cont2 > li.exp > h2 { margin-bottom: 30px; font-weight: 400; font-size: 30px; }
section > article > .cont2 > li.exp > p { margin-bottom: 30px; font-size: 15px; }
section > article > .cont2 > li.exp > a { color: blue; font-size: 15px; text-decoration: underline; }
section > article > .cont2 > li.exp > a:hover { text-decoration: none; }

footer { height: 180px; background-color: #3b3b3b; }
footer > div { position: relative; width: 1000px; margin: 0 auto; }
footer > div > ul.footbar { position: absolute; display: flex; margin-top: 30px; }
footer > div > ul.footbar > li { padding: 0 10px; font-size: 13px; border-right: 1px solid #7e7e7e; }
footer > div > ul.footbar > li:last-child { border-right: 0; }
footer > div > ul.footbar > li > a { height: 20px; color: #7e7e7e; }
footer > div > .youtube { display: block; position: absolute; top: 60px; left: 7px; width: 33px; height: 40px; background: url(./../images/spritePC200706.png); background-position: 502px 2px; text-indent: -9999px; }
footer > div > .facebook { display: block; position: absolute; top: 60px; left: 60px; width: 32px; height: 40px; background: url(./../images/spritePC200706.png); background-position: 732px 2px; text-indent: -9999px; }
footer > div > address { position: absolute; top: 110px; left: 8px; color: #7e7e7e; font-weight: 800; font-size: 13px; }

/*# sourceMappingURL=game.css.map */
