@import url(./reset.css);
header { position: fixed; left: 0; top: 0; width: 100%; height: 60px; background-color: white; border-bottom: 3px solid black; z-index: 1000; }
header > .menubar { position: relative; width: 1000px; margin: 0 auto; }
header > .menubar > .logo { display: block; position: absolute; left: 10px; top: 18px; width: 70px; height: 30px; text-indent: -9999px; background-image: url(./../images/logo160629.png); background-repeat: no-repeat; background-size: contain; }
header > .menubar > nav { position: absolute; left: 100px; top: 20px; }
header > .menubar > nav > .gnb { display: flex; flex-flow: row nowrap; }
header > .menubar > nav > .gnb > li { padding: 0 15px; height: 20px; line-height: 20px; text-align: center; border-right: 1px solid #ccc; }
header > .menubar > nav > .gnb > li:last-child { border-right: 0; }
header > .menubar > nav > .gnb > li:active, header > .menubar > nav > .gnb > li:hover { font-weight: 800; }
header > .menubar > .language { float: right; margin: 15px 10px 0 0; border: 1px solid #ccc; }
header > .menubar > .language > li { position: relative; }
header > .menubar > .language > li:hover > ul { display: block; }
header > .menubar > .language > li > a { display: block; width: 150px; margin-left: 5px; padding: 2px 0; }
header > .menubar > .language > li > ul { display: none; position: absolute; left: -1px; background-color: #fff; border: 1px solid #ccc; }
header > .menubar > .language > li > ul:last-child { left: -157px; top: 19px; border-right: 0; }
header > .menubar > .language > li > ul > li:hover > a, header > .menubar > .language > li > ul > li.on > a { color: #58c758; }
header > .menubar > .language > li > ul > li > a { display: block; width: 150px; height: 30px; margin-left: 5px; line-height: 30px; }

section { margin-top: 63px; min-width: 1100px; }
section > .slider-container { position: relative; }
section > .slider-container .bx-wrapper { position: relative; min-width: 1100px; }
section > .slider-container .bx-wrapper .bxslider { height: 400px; }
section > .slider-container .bx-wrapper .bxslider > li { width: 100%; height: 400px; background-repeat: no-repeat; background-position: center; }
section > .slider-container .bx-wrapper .bxslider > li.slider-1 { background-image: url(./../images/Korean0906_1.png); }
section > .slider-container .bx-wrapper .bxslider > li.slider-1 > div { position: absolute; left: 50%; top: 50px; margin-left: -500px; }
section > .slider-container .bx-wrapper .bxslider > li.slider-1 > div > h1 { top: 60px; color: white; font-size: 40px; }
section > .slider-container .bx-wrapper .bxslider > li.slider-1 > div > p { margin: 30px 0; color: white; font-size: 15px; }
section > .slider-container .bx-wrapper .bxslider > li.slider-1 > div > span > a { display: block; width: 150px; height: 35px; line-height: 35px; text-align: center; color: #fff; font-size: 18px; border: 2px solid #fff; }
section > .slider-container .bx-wrapper .bxslider > li.slider-2 { background-image: url(./../images/PC_Game_Play_kr_123123_1.png); }
section > .slider-container .bx-wrapper .bxslider > li.slider-2 > div { position: absolute; left: 50%; top: 50px; margin-left: -500px; }
section > .slider-container .bx-wrapper .bxslider > li.slider-2 > div > h1 { color: white; font-size: 35px; }
section > .slider-container .bx-wrapper .bxslider > li.slider-2 > div > p { margin: 30px 0; color: white; font-size: 15px; }
section > .slider-container .bx-wrapper .bxslider > li.slider-2 > div > .down_btn { display: flex; }
section > .slider-container .bx-wrapper .bxslider > li.slider-2 > div > .down_btn > a { display: block; width: 150px; height: 35px; margin-right: 15px; line-height: 35px; text-align: center; color: #fff; font-size: 18px; border: 2px solid #fff; }
section > .slider-container .bx-wrapper .bxslider > li.slider-2 > div > .down_btn > a:last-child { margin-right: 0; }
section > .slider-container .bx-wrapper .bxslider > li.slider-3 { background-image: url(./../images/PC_Game_rangers_ko_12333_1.png); }
section > .slider-container .bx-wrapper .bxslider > li.slider-3 > div { position: absolute; left: 50%; top: 230px; margin-left: -500px; }
section > .slider-container .bx-wrapper .bxslider > li.slider-3 > div > p { margin-bottom: 30px; color: white; font-size: 16px; }
section > .slider-container .bx-wrapper .bxslider > li.slider-3 > div > .down_btn { display: flex; }
section > .slider-container .bx-wrapper .bxslider > li.slider-3 > div > .down_btn > a { display: block; width: 150px; height: 35px; margin-right: 15px; line-height: 35px; text-align: center; color: #fff; font-size: 18px; border: 2px solid #fff; }
section > .slider-container .bx-wrapper .bxslider > li.slider-3 > div > .down_btn > a:last-child { margin-right: 0; }
section > .slider-container .bx-wrapper .bxslider > li.slider-4 { background-image: url(./../images/PC_LINE_Store_ko_1.png); }
section > .slider-container .bx-wrapper .bxslider > li.slider-4 > div { position: absolute; left: 50%; top: 50px; margin-left: -500px; }
section > .slider-container .bx-wrapper .bxslider > li.slider-4 > div > h1 { color: white; font-size: 40px; }
section > .slider-container .bx-wrapper .bxslider > li.slider-4 > div > p { margin: 30px 0; color: white; font-size: 18px; }
section > .slider-container .bx-wrapper .bxslider > li.slider-4 > div > a { display: block; width: 150px; height: 35px; line-height: 35px; text-align: center; color: #fff; font-size: 18px; border: 2px solid #fff; }
section > .slider-container #bx-pager { display: flex; position: absolute; width: calc(15px * 4 + 60px); height: 18px; top: 50%; left: 50%; margin: 150px 0 0 -60px; }
section > .slider-container #bx-pager > a { display: block; width: 15px; height: 18px; margin-right: 20px; background: url(./../images/spritePC200706.png); background-position: 631.3px 2px; text-indent: -9999px; }
section > .slider-container #bx-pager > a:hover, section > .slider-container #bx-pager > a:active { background-position: 647px 2px; }
section > .slider-container #bx-pager > a:last-child { margin-right: 0; }
section > article { width: 1050px; margin: 0 auto; }
section > article > .cont { display: flex; justify-content: space-between; margin-bottom: 230px; }
section > article > .cont > .exp { margin-top: 40px; }
section > article > .cont > .exp > p { width: 340px; margin-left: 5px; font-size: 14px; line-height: 1.9; }
section > article > .cont > .exp > h2 { margin-bottom: 30px; font-weight: 400; font-size: 55px; color: #3b3b3b; }
section > article > .cont > li.big { margin-bottom: 100px; }
section > article > .cont > li.big .frame { width: 560px; height: 500px; }
section > article > .cont > li.big .frame > img { width: 100%; }
section > article > .cont > li > .frame { width: 450px; height: 450px; }
section > article > .cont > li > .frame > img { width: 100%; }
section > article > .main_last { display: flex; justify-content: space-between; margin-bottom: 150px; }
section > article > .main_last > li { position: relative; width: 270px; height: 350px; }
section > article > .main_last .frame { width: 160px; height: 200px; }
section > article > .main_last .frame > img { width: 100%; }
section > article > .main_last .tit > span { display: block; overflow: hidden; position: absolute; top: 300px; left: 0px; font-size: 14px; font-weight: 700; }
section > article > .main_last .tit > a { display: block; position: absolute; left: 60px; top: 298px; width: 20px; height: 25px; background: url(./../images/spritePC200706.png); background-position: 554px 2px; text-indent: -9999px; }
section > article > .main_last .tip > span { display: block; overflow: hidden; position: absolute; color: #3b3b3b; top: 330px; left: 0px; font-size: 12px; line-height: 1.5; }

footer { height: 180px; background-color: #3b3b3b; }
footer > div { position: relative; width: 1000px; margin: 0 auto; }
footer > div > ul.footbar { position: absolute; display: flex; margin-top: 30px; }
footer > div > ul.footbar > li { padding: 0 10px; font-size: 13px; border-right: 1px solid #7e7e7e; }
footer > div > ul.footbar > li:last-child { border-right: 0; }
footer > div > ul.footbar > li > a { height: 20px; color: #7e7e7e; }
footer > div > .youtube { display: block; position: absolute; top: 60px; left: 7px; width: 33px; height: 40px; background: url(./../images/spritePC200706.png); background-position: 502px 2px; text-indent: -9999px; }
footer > div > .facebook { display: block; position: absolute; top: 60px; left: 60px; width: 32px; height: 40px; background: url(./../images/spritePC200706.png); background-position: 732px 2px; text-indent: -9999px; }
footer > div > address { position: absolute; top: 110px; left: 8px; color: #7e7e7e; font-weight: 800; font-size: 13px; }

/*# sourceMappingURL=style.css.map */
